body {
  background-color: skyblue;
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
  font-size:x-large;
}

#game {
  width: 80%;
  height: 80%;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  width: 99%;
  height: 40%;
  border: 1px black solid;
  padding: 5px;
  align-items: center;
  align-self: center;
  border-radius: 10%;
}

button {
  width: 90%;
  height: 100%;
  border-radius: 10%;
  align-self: center;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
  width: 100%;
  height: 80%;
}

.stat {
  padding-right: 10px;
  width: 100%;
  height: 80%;
}
